.gitattributes
*.opensdf
*.sdf
*.suo
*.tlog
*.log
*.obj
*.pdb
*.xcuserstate
*.DS_Store

**/.gradle/*
**/.idea/*

examples/**/data-ram
examples/**/build/*
examples/**/lib/*
examples/**/libs/*
examples/**/obj/*
examples/**/*.exp
examples/**/*.lib
examples/**/*.db
examples/**/*.opendb
examples/**/*.ipch
examples/**/Release/*
examples/**/Debug/*

libraries/SDL/SDL/VisualC/Win32/*

libraries/SDL/SDL/VisualC/tests/**/*.bmp
libraries/SDL/SDL/VisualC/tests/**/*.wav

libraries/SDL/SDL/obj/*
libraries/SDL/SDL/libs/*

libraries/SDL_image/SDL_image/obj/*
libraries/SDL_image/SDL_image/libs/*
libraries/SDL_mixer/SDL_mixer/obj/*
libraries/SDL_mixer/SDL_mixer/libs/*

libraries/SDL_mixer/SDL_mixer/VisualC/Win32
libraries/SDL_mixer/SDL_mixer/VisualC/.vs
libraries/SDL_mixer/SDL_mixer/VisualC/**/*.user
libraries/SDL_image/SDL_image/VisualC/Win32

libraries/SDL_ttf/SDL_ttf/VisualC/Win32/Debug
libraries/SDL_ttf/SDL_ttf/VisualC/Win32/Release

libraries/SDL_image/SDL_image/Xcode-iOS/build
libraries/SDL/SDL/Xcode-iOS/SDL/build

ut/**/build/*
ut/**/lib/*
ut/**/libs/*
ut/**/*.exe
ut/**/*.exp
ut/**/*.lib
ut/**/*.db
ut/**/Release/*
ut/**/Debug/*
ut/**/data-ram/*

tools/**/*.ilk
tools/**/*.exe
tools/**/*.idb
libraries/SDL/SDL/VisualC/SDL/Win32
libraries/SDL/SDL/VisualC/SDL/SDL.vcxproj.user
libraries/SDL/SDL/VisualC/**/*.dat
libraries/SDL/SDL/VisualC/.vs
libraries/SDL_image/SDL_image/VisualC/.vs

**/proj.codeblocks/*.depend
**/proj.codeblocks/*.layout
*.layout
