.gitattributes
*.opensdf
*.sdf
*.suo
*.tlog
*.log
*.obj
*.pdb
*.xcuserstate

**/.gradle/*
**/.idea/*

examples/**/data-ram
examples/**/build/*
examples/**/lib/*
examples/**/libs/*
examples/**/obj/*
examples/**/*.exp
examples/**/*.lib
examples/**/*.db
examples/**/Release/*
examples/**/Debug/*

libraries/SDL/SDL/VisualC/Win32/*

libraries/SDL/SDL/VisualC/tests/**/*.bmp
libraries/SDL/SDL/VisualC/tests/**/*.wav

libraries/SDL/SDL/obj/*
libraries/SDL/SDL/libs/*

libraries/SDL_image/SDL_image/obj/*
libraries/SDL_image/SDL_image/libs/*

libraries/SDL_image/SDL_image/VisualC/Win32

libraries/SDL_ttf/SDL_ttf/VisualC/Win32/Debug
libraries/SDL_ttf/SDL_ttf/VisualC/Win32/Release

ut/**/build/*
ut/**/lib/*
ut/**/libs/*
ut/**/*.exe
ut/**/*.exp
ut/**/*.lib
ut/**/*.db
ut/**/Release/*
ut/**/Debug/*
ut/**/data-ram/*

tools/**/*.ilk
tools/**/*.exe
tools/**/*.idb
libraries/SDL/SDL/VisualC/SDL/Win32/Debug/version.res
