<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All (iOS).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>All (tvOS).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>PrepareXcodeProjectTemplate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>libSDL (iOS).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>libSDL (tvOS).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>00B4F48B12F6A69C0084EC00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C143576D1F4C4DAA000B792B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C14357721F4C4F2A000B792B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAB598131BB5C1B100BE72C5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD6526620DE8FCCB002AD96B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
