root_android-gradle=com.android.tools.build:gradle:7.0.2
root_google-services=com.google.gms:google-services:4.3.10
root_triplet-play-publisher=com.github.triplet.gradle:play-publisher:3.6.0

app_relinker=com.getkeepsafe.relinker:relinker:1.4.5
app_admobads=com.google.android.gms:play-services-ads:21.4.0
app_firebase-core=com.google.firebase:firebase-core:21.1.1
app_play-billing=com.android.billingclient:billing:5.1.0
app_play-services-games=com.google.android.gms:play-services-games:23.1.0
app_play-services-auth=com.google.android.gms:play-services-auth:20.4.1
app_play-review=com.google.android.play:review:2.0.1
app_app-update=com.google.android.play:app-update:2.0.1
app_play-appset=com.google.android.gms:play-services-appset:16.0.2
app_yandexads=com.yandex.android:mobileads:5.8.0